body {

    background-image: url("/images/backgrounds/bg_login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;

    height: 100vh;
    max-height: 130vh;

    font-family: 'Roboto Slab', sans-serif;

}

.error{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    border-radius: 3px;
    border: 1px solid #F4BF73;
    background-color: #F4BF73;
    width: 25%;
    padding: 1em;
}

.login {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 40px 0;
    z-index: 20;

    width: 90%;
    margin-left: 5%;
    margin-top: 24px;

    background-color: white;
}

#login-logo {

    background-color: #88caab;
    padding: 3.5em 2.2em;
    border-radius: 100%;
    width: 5em;

    align-self: center;
}

#login-logo img{

    width: 5em;
}

#login-btn {

    background-color: #A0D1E6;
    width: 16em;
    align-self: center;

    margin-top: 40px;
}

#login-btn:hover {

    background-color: #88caab;
    color: white;
}

#login-btn a {

    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 1em;
    text-decoration: none;
    color: white;
    text-align: center;
}

#login-btn span {

    color: #61A0BB;
}

#login-form {

    display: flex;
    justify-content: center;
    margin-top: 24px;
}

#login-form form {

    display: flex;
    flex-direction: column;
}

#login-form form h3 {

    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: darkgrey;

}

#login-form form input {

    margin-top: 24px;
    width: 280px;
    font-size: 0.8em;
    font-weight: 400;
    color: #88caab;
    border: none;
    border-bottom: 1px solid #88caab;
    padding-bottom: 16px;
}

#login-form form input::-webkit-input-placeholder {

    opacity: 0.5;
}

#login-form button {

    width: 120px;
    align-self: center;
    font-size: 0.8em;
    color: #88caab;
    background-color: white;
    border-color: #88caab;
    padding: 16px 0;
    margin-top: 24px;

}

#login-form button:hover {

    color: white;
    background-color: #88caab;

}

#login-form a {

    font-size: 0.6em;
    margin-top: 32px;
}

#login-text {

    display: none;
}

@media screen and (min-width: 1100px) {

    body {

        background-position: bottom;
    }

    #login-text {

        display: flex;
        width: 70%;
        margin-left: 15%;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }

    #login-text img {

        width: 100px;
    }

    #login-text p {

        font-weight: 400;
        font-size: 1.2em;
        letter-spacing: 0.5px;
        line-height: 1.8em;
        font-style: italic;
        color: darkgrey;
        text-align: center;


    }

    #login-text h1 {

        font-weight: 400;
        font-size: 1.2em;
        font-style: italic;
        color: darkgrey;
        text-align: center;
        margin-top: -5px;
    }

    .login {


        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -20px;
        padding: 50px 0px;
        z-index: 20;

        width: 40%;
        height: 90vh;
        margin-left: 60%;

        background-color: white;

    }

    #login-logo {

        background-color: #88caab;
        padding: 4em 2.2em;
        border-radius: 100%;
        width: 7em;

        align-self: center;
    }

    #login-logo img{

        width: 7em;
    }

    #login-btn {

        background-color: #A0D1E6;
        width: 20em;
        align-self: center;

        margin-top: 50px;
    }

    #login-btn:hover {

        background-color: #88caab;
        color: white;
    }

    #login-btn a {

        font-family: 'Lato', sans-serif;
        font-weight: 100;
        font-size: 1em;
        text-decoration: none;
        color: white;
        text-align: center;
    }

    #login-btn span {

        color: #61A0BB;
    }

    #login-form {

        margin-top: 24px;
    }


    #login-form form h3 {

        font-size: 1em;

    }

    #login-form form input {

        margin-top: 24px;
        margin-bottom: 24px;
        width: 320px;
        font-size: 1em;
    }

    #login-form button {

        width: 19em;
        font-size: 1em;
        margin-top: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    #login-form a {

        font-size: 1em;
        margin-top: 20px;
    }

}