#scanned_header {

    width: 100%;
    height: 12em;
    background-image: url("/images/backgrounds/bg_profile.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    z-index: -2;
}

#scanned_avatar {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#scanned_avatar img {

    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 5px solid white;

    align-self: center;
    margin-top: -50px;

    -webkit-box-shadow: 0 2px 4px lightgrey;
    -moz-box-shadow: 0 2px 4px lightgrey;
    box-shadow: 0 2px 4px lightgrey;

}

#scanned_avatar h1 {

    text-align: center;
    font-size: 1em;
    letter-spacing: 1px;
}

#scanned_warning {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
}

#scanned_warning p {

    text-align: center;
    font-weight: 400;
    color: white;
    width: 80%;
    padding: 20px 0px;
    align-self: center;
}

.scanned_warning_green {

    background-color: #88caab;
}

.scanned_warning_red {

    background-color: #E55266;


}

#scanned_product {

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
    margin-top: 32px;

    width: 240px;
    height: auto;
    -webkit-box-shadow: 0 2px 4px darkgrey;
    -moz-box-shadow: 0 2px 4px darkgrey;
    box-shadow: 0 2px 4px darkgrey;

    padding-bottom: 32px;
}

#scanned_product img{

    margin-top: 20px;
}

#scanned_product p {

    text-align: center;
}

#product_save {

    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#product_save p {

    font-size: 0.8em;
    margin-left: 10px;
    width: 50%;
    text-align: left;
    color: #88caab;
}

#product_save button {

    width: 40px;
    height: 40px;
    background-color: #88caab ;
    color: white;
    border-color: transparent;
    border-radius: 100px;
    margin-top: 10px;

}

#product_save_dropdown {

    position: absolute;
    width: 100%;
    display: none;
    top:0;
    left: 0;
    bottom: 0;

    z-index: 150;


    flex-direction: column;
    justify-content: center;


    background-color: rgba(136, 202, 171, 0.95);

}

#product_save_dropdown h3 {

    color: white;
    text-align: center;
    font-weight: 400;
    margin-top: 120px;
    width: 80%;
    margin-left: 10%;
}

#product_save_lists {

    display: fixed;
    margin-top: 40px;
}



#product_save_lists a p {

    text-align: center;
    color: #88CAAB;

    padding: 40px;
    background-color: white;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    border: 2px solid white;
    margin: auto;
    font-size: 1.5em;

}

#product_save_lists a p:hover {

    border: 4px solid white;
}


#scanned_proposals {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 90%;
    margin-left: 5%;

    margin-top: 20px;
    margin-bottom: 100px;


}

.new_list{
    display: block;
    margin-left: auto;
    font-size: 0.6em;
    color: white;
    text-align: center;

    align-self: center;
    margin-top: 5em;
}

h1 {

    font-size: 1em;
    font-weight: 400;
    margin-bottom: 24px;
    text-align: center;
    margin-top: 50px;
}

.recipes_recipe {

    margin-top: 20px;
    margin-left: 0.7em;
}

.recipes_recipe a {

    width: 240px;
    height: 240px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 20px;

    overflow: hidden;

    border-radius: 4px;

    -webkit-box-shadow: 0 2x 4px darkgrey;
    -moz-box-shadow: 0 2px 4px darkgrey;
    box-shadow: 0 2px 4px darkgrey;

    background-size: cover;
}

.recipes_recipe a img {

    width: 400px;
    height: auto;
    z-index: 0;
}

.recipes_recipe a p {

    border-radius: 0 0 3px 3px;
    position: absolute;
    color: black;
    background-color: rgba(255, 255, 255, 0.95);
    font-size: 0.9em;

    width: 230px;
    margin-top: 85px;
    padding: 20px 5px;

    height: 30px;
}

@media screen and (min-width: 1240px) {

    #scanned_product {

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 800px;
        padding-bottom: 50px;
    }

    #scanned_product_info {

        display:flex;
        flex-direction: row;
        justify-content: center;

    }

    #scanned_product_info p {

        align-self:center;
        font-size: 1.2em;
        text-align: left;
        width: 40%;
    }

    #product_save {

        align-self: flex-end;
        margin-right: 190px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: -80px;
    }

    #product_save button {

        height: 38px;

    }

    #product_save p {

        width: 100%;
        margin-top: 20px;
        font-size: 0.9em;
    }

    #product_save_dropdown {

        width: 100%;
        padding-bottom: 100px;

    }


    #product_save_dropdown h3 {

        color: white;
        text-align: center;
        font-weight: 400;
        margin-top: 120px;
        width: 80%;
        margin-left: 10%;
    }




    #product_save_lists a p {

        text-align: center;
        cursor: pointer;

        width: 400px;
        padding: 100px 0px;
        background-color: white;
        background-repeat: no-repeat;

        border-radius: 4px;
        margin: auto;
        margin-top: 24px;
        font-size: 1.5em;

    }

    #scanned_proposals {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        width: 90%;
        margin-left: 5%;

        margin-top: 20px;
        z-index: 0;
        margin-bottom: 100px;


    }

    h1 {

        font-size: 1.2em;
        font-weight: 400;
        margin-top: 80px;
        margin-bottom: 24px;
        margin-left: 5%;
        text-align: left;
    }

    #recipes_recipe a {

        width: 80%;
        margin-left: 10%;
    }




}