/* -- BASICS -- */

    body {

        font-family: 'Lato', sans-serif;
    }

    .nav{
        z-index: 1;
    }
    .container__proto{
        z-index: 0;
    }

    .container__large {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #navigation {

        display: none;
    }

    /* -- HEADER -- */
    #header {
        height: 100vh;
        background-image: url("../images/mobiel/header_mobile.png");
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.2);
        height: 100vh;
        position: absolute;
    }

    .border__inside {
        width: 40vw;
        height: 40vw;
        /*width: 239px;
        height: 239px;*/
        padding: 2.55em;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 3px dotted #f3be7d;
        margin-left: -0.75em;
        margin-top: -0.75em;
        position: relative;
    }

    .border__outside {
        border-radius: 50%;
        border: 4px dashed white;
        width: calc(40vw + 4em);
        height: calc(40vw + 4em);
        /*width: calc(241px + 4em);
        height: calc(241px + 4em);*/
        padding: 1em;
        margin: auto;
    }

    .container__center {
        margin: auto;
        margin-top: 3em;
        z-index: 1;
        margin-bottom: 1em;
    }

    #logo {
        width: 40vw;
    }

    .libelle-lekker {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5em;
    }

    .libelle-lekker h2 {
        color: white;
        font-size: 1em;
    }

    #libelle {
        margin-top: -0.29em;
        height: 3em;
        margin-left: 0.25em;
    }

    #go {

        display: none;
    }

    /* -- TITLES -- */
    .title {

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;
        margin-top: 100px;
        margin-bottom: 20px;
        width: 90%;
    }

    .title h2 {

        font-size: 1.2em;
        color: #ff667d;
        font-weight: 600;

    }

    .title p {

        width: 80%;
        align-self: center;
        font-size: 1em;
        color: rgba(255, 164, 178, 0.98);
        font-weight: 200;
        margin-top: 50px;
        line-height: 1.2em;

    }

    /* -- FEATURES -- */
    #features {
        min-height: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1.25em auto;
    }

    .container__feature {
        margin: 1.75em;
        padding: 1em;
        width: 80vw;
        min-height: 40vh;
        background-color: #f3be7d;

        display: flex;
        flex-direction: column;
        justify-content: center;

        transition: all .2s ease-in-out;
    }

    .container__feature:hover {

        transform: scale(1.1);
        background-color: #6896a9;

    }

    .container__feature img {

        width: 80px;
        height: auto;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    #product_icon {

        width: 50px;
    }

    #lijst_icon {

        width: 60px;
    }

    .container__feature p {

        width: 90%;
        margin-left: 5%;
        font-size: 1em;
        color: white;
        text-align: center;
        line-height: 2em;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    /* -- CALL2ACTION -- */
    .action p {

        text-align: center;
        font-size: 0.6em;
        color: lightgray;
        font-weight: 200;
        line-height: 12px;
        margin-bottom: 20px;
    }

    #action {
        height: 60vh;
        background-image: url("../images/mobiel/Cta_mobile.png");
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 50px;
    }

    #action .overlay {
        height: 60vh;
        z-index: 0;
        opacity: 0.1;
    }

    .call {
        border-color: #6896a9;
        border-radius: 0;
        width: 65vw;
        height: 2em;
        z-index: 1;
        transition: all .2s ease-in-out;
    }

    .call:hover {

        border-color: #ff667d;
        transform: scale(1.1);
    }

    .call button {
        background-color: #6896a9;
        border-radius: 0;
        color: white;
        font-size: 1em;
        width: 65vw;
        height: 2em;
        border: none;
        transition: 0.2s ease-in-out;
    }

    .call button:hover {

        background-color: #ff667d;
    }

    /* -- PROTOTYPE -- */
    #proto {
        height: 100vh;
        margin: 3em auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40vh;
        overflow: hidden;
    }

    .proto {

        align-self: center;
    }

    .proto h2 {

        color: #6896a9;
        font-size: 1.2em;
        margin-top: 100px;
    }

    .proto p {

        color: rgba(255, 164, 178, 0.98);
        font-size: 0.8em;

    }

    .container__proto {
        width: 120vh;
        margin-top: 30px;
        margin-bottom: 25px;
        transition: all 2.5s ease;
    }

    .container__proto__item {
        opacity: 0;
        float: left;
        transition: all 0.8s ease;
    }

    .block {
        opacity: 1;
        transition: all 1s ease;
        transition-delay: 1s;
    }

    #proto div img {
        height: 40vh;
        margin-left: 4.17em;
    }

    .nav ul {
        width: 30vw;
        max-width: 125px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
    }

    .nav li{
        height: 10px;
        width: 10px;
        border: 1px #6896a9 solid; 
        border-radius: 10px;
    }

    .nav li:first-of-type{
        background-color: #6896a9;
    }

    /* -- TEAM -- */
    #team {
        height: 100vh;
        background-image: url("../images/mobiel/team_mobile.png");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .team {

        align-self: center;
    }

    .team h2 {

        color: #ff667d;
        font-size: 1.2em;
    }

    .team p {

        color: white;
        font-size: 1em;
    }

    #team .overlay {
        height: 100vh;
        z-index: 0;
        opacity: 0.5;
    }

    .container__team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        z-index: 1;
    }

    .border__image .back {

        margin-top: -100px;
        background-color: #ff667d;
    }

    .border__image .back h3 {

        padding-top: 30px;
        color: white;
        text-align: center;
        font-weight: 200;
        font-size: 1em;
        width: 80%;
        margin-left: 10%;
    }

    .border__image {
        width: 100px;
        height: 100px;
        padding: 5px;
        border: 2px dotted white;
        border-radius: 50%;
        margin: 2em 0.75em;
        justify-self: center;
    }

    .border__image div {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: white;
        background-position: center;
        background-size: cover;
    }

    .nameTeam {

        display: none;
    }






