@media only screen and (min-width : 1200px)  {

    #header {
        height: 100vh;
        background-image: url("../images/desktop/header_desktop.png");
        background-position: bottom;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .container__center{
        margin-top: 19vh;
    }

    .overlay {
        display: none;
    }

    .border__inside {
        width: 250px;
        height: 250px;
        border: 4px dotted #f3be7d;
    }

    .border__outside {
        border: 4px dashed white;
        width: calc(250px + 4em);
        height: calc(250px + 4em);
        padding: 2em;
        align-self: center;
    }

    #logo {
        width: 250px;
        margin-left: auto;
    }

    /* -- FEATURES -- */

    #features {

        height: 80vh;
        margin-top: -100px;
    }

    .features {

        width: 100%;
        margin-top: 150px;

    }

    .features p {

        width: 50%;
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1.2em;
    }

    .container__feature {

        width: 30vh;
        height: 40vh;
        align-self: center;
        margin-bottom: 0px;
        transition: 0.2s ease-in-out;
    }

    .container__feature:hover {

        border: 2px dotted white;
    }
    .container__feature p {

        font-size: 1em;
        color: white;
        line-height: 22px;
        width: 80%;
        margin-left: 10%;
    }

    /* -- CALL2ACTION -- */

    #action {

        margin-top: -500px;
        height: 190vh;
        background-image: url("../images/desktop/Cta_desktop.png");
        background-position: center;
        background-size: 120%;
        background-repeat: no-repeat;
    }

    #action .overlay {

        display: none;
    }

    .call {

        border-color: #6896a9;
        width: 40vw;
        height: 3em;
    }

    .call button {
        width: 40vw;
        height: 3em;
    }

    /* -- PROTOTYPE -- */
    #proto {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vh;
        height: auto;
        overflow: hidden;
        margin-top: -450px;
    }

    .proto p {

        font-size: 1.2em;
        line-height: 1.2em;
        font-weight: 400;
    }

    .container__proto {
        height: 60vh;
        width: 120vh;
        transition: all 2.5s ease;
    }

    .container__proto__item {
        opacity: 0;
        float: left;
        transition: all 0.8s ease;
    }

    .block {
        opacity: 1;
        transition: all 1s ease;
        transition-delay: 1s;
    }

    #proto div img {
        height: 60vh;
    }

    .nav ul {
        width: 30vw;
        max-width: 125px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: auto;
    }
    /* -- TEAM -- */

    #team {

        height: 80vh;
        background-image: url("../images/desktop/team_desktop.png");
    }

    .team {

        margin-top: 170px;

    }

    .team h2 {

        margin-top: 30px;
        font-size: 2em;
    }

    .team p {

        color: white;
        width: 50%;
        font-size: 0.8em;
        line-height: 1em;
        font-weight: 400;
        margin-top: 50px;
    }
    .container__team {
        width: 100vw;
        padding-bottom: 150px;
        display: flex;
        flex-direction: row;
    }

    .border__image .back {

        margin-top: -180px;
        background-color: #ff667d;
    }

    .border__image .back h3 {

        padding-top: 75px;
        font-size: 1.2em;
    }

    .border__image {
        width: 180px;
        height: 180px;
        margin: 5.37em 5.75em;
    }

    .border__image div {
        width: 180px;
        height: 180px;

    }

    .nameTeam {

        display: block;
        font-size: 1.6em;
        color: white;
        font-weight: 400;
        text-align: center;
        margin-top: 40px;
    }

}